body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.counter-app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: skyblue;
  margin: 8rem 30rem;  
  padding: 3rem;
  border-radius: 20px;
}

button{
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  flex-direction: row;
  background-color: blue;
  color: white;
}

.input-form{
  flex-direction: row;
}

input{
  padding: 10px 0;
  border-radius: 10px;
  text-align: center;
}